@import "tailwindcss";

@theme {
  --color-accentcolor: #d3fd50;

  --font-inter: "inter", sans-serif;

  --font-lausanne: "font1", sans-serif;
}

@layer base {
  @font-face {
    font-family: font1;
    src: url(../fonts/Lausanne-300.woff2);
  }
  @font-face {
    font-family: font2;
    src: url(../fonts/Lausanne-500.woff2);
  }

  @font-face {
    font-family: inter;
    src: url(../fonts/Inter-VariableFont_wght.woff2);
    font-weight: 100 900;
    font-display: swap;
  }
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background-color: #111;
  color: #fff;
}

.moveX {
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveLink {
  opacity: 0;
  transition: all ease 0.3s;
}

.link:hover .moveLink {
  opacity: 1;
}

@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#intro {
  visibility: hidden;
  opacity: 0;
}
